<div>
    <form action="/search" method="GET">
        <label for="search"></label>
        <input type="text" name="artist" placeholder="Rammstein" id="artist">
        <button type="submit">Search for an artist</button>
    </form>
</div>